USE [master]
GO
/****** Object:  Database [MOODFLIX]    Script Date: 7/7/2024 6:08:35 PM ******/
CREATE DATABASE [MOODFLIX]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MOODFLIX', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MOODFLIX.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MOODFLIX_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MOODFLIX_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MOODFLIX].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MOODFLIX]
GO
/****** Object:  Table [dbo].[BITACORA]    Script Date: 7/7/2024 6:08:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BITACORA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[MODULO] [varchar](50) NOT NULL,
	[OPERACION] [varchar](50) NOT NULL,
 CONSTRAINT [PK_BITACORA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DVH]    Script Date: 7/7/2024 6:08:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DVH](
	[TABLA] [varchar](50) NOT NULL,
	[REGISTRO] [int] NOT NULL,
	[DV] [varchar](200) NOT NULL,
 CONSTRAINT [PK_DVH] PRIMARY KEY CLUSTERED 
(
	[TABLA] ASC,
	[REGISTRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMOCION]    Script Date: 7/7/2024 6:08:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMOCION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[URI_RELATIVO] [varchar](50) NULL,
 CONSTRAINT [PK_EMOCION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIBRO]    Script Date: 7/7/2024 6:08:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIBRO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[DESCRIPCION] [varchar](max) NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[AUTOR] [varchar](50) NOT NULL,
	[EDITORIAL] [varchar](50) NOT NULL,
	[ID_EMOCION] [int] NOT NULL,
	[URI_RELATIVO] [varchar](50) NULL,
	[PRECIO] [float] NULL,
 CONSTRAINT [PK_LIBRO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PELICULA]    Script Date: 7/7/2024 6:08:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PELICULA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[DESCRIPCION] [varchar](max) NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[GENERO] [varchar](50) NOT NULL,
	[DIRECTOR] [varchar](50) NOT NULL,
	[ID_EMOCION] [int] NOT NULL,
	[URI_RELATIVO] [varchar](50) NULL,
	[PRECIO] [float] NULL,
 CONSTRAINT [PK_PELICULA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 7/7/2024 6:08:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [varchar](50) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](200) NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BITACORA] ON 

INSERT [dbo].[BITACORA] ([ID], [FECHA], [ID_USUARIO], [MODULO], [OPERACION]) VALUES (2, CAST(N'2024-06-11T00:00:00.000' AS DateTime), 1, N'Peliculas', N'Login')
INSERT [dbo].[BITACORA] ([ID], [FECHA], [ID_USUARIO], [MODULO], [OPERACION]) VALUES (3, CAST(N'2024-06-11T22:44:08.027' AS DateTime), 1, N'InicioSesion', N'Login')
INSERT [dbo].[BITACORA] ([ID], [FECHA], [ID_USUARIO], [MODULO], [OPERACION]) VALUES (4, CAST(N'2024-06-11T22:46:05.217' AS DateTime), 1, N'InicioSesion', N'Login')
SET IDENTITY_INSERT [dbo].[BITACORA] OFF
GO
INSERT [dbo].[DVH] ([TABLA], [REGISTRO], [DV]) VALUES (N'EMOCION', 1, N'dff1794ce8011a753eb077a8627c3bcc63ad7c8667ddc1a4a7d77566d87986cb')
INSERT [dbo].[DVH] ([TABLA], [REGISTRO], [DV]) VALUES (N'EMOCION', 2, N'639f419637e4c69515e0261de43d61c09bf88330578aba8ff21276d7d1ba8658')
INSERT [dbo].[DVH] ([TABLA], [REGISTRO], [DV]) VALUES (N'EMOCION', 3, N'001b740c49497ad7b311f84623d789472faa8ce559ea5bce8f739ba6d53b2049')
GO
SET IDENTITY_INSERT [dbo].[EMOCION] ON 

INSERT [dbo].[EMOCION] ([ID], [NOMBRE], [URI_RELATIVO]) VALUES (1, N'Aburrido', N'Imagenes/Emociones/Aburrido.png')
INSERT [dbo].[EMOCION] ([ID], [NOMBRE], [URI_RELATIVO]) VALUES (2, N'Amoroso', N'Imagenes/Emociones/Amoroso.png')
INSERT [dbo].[EMOCION] ([ID], [NOMBRE], [URI_RELATIVO]) VALUES (3, N'Ansiedad', N'Imagenes/Emociones/Ansiedad.png')
SET IDENTITY_INSERT [dbo].[EMOCION] OFF
GO
SET IDENTITY_INSERT [dbo].[LIBRO] ON 

INSERT [dbo].[LIBRO] ([ID], [NOMBRE], [DESCRIPCION], [FECHA], [AUTOR], [EDITORIAL], [ID_EMOCION], [URI_RELATIVO], [PRECIO]) VALUES (1, N'Resultados Extraordinarios', N'Técnicas y estrategias sencillas para hacer realidad tus sueños', CAST(N'2018-01-01T00:00:00.000' AS DateTime), N'Bernando Stamateas', N'B de Bolsillo', 9, N'Imagenes/Libros/ResultadosExtraordinarios.jpg', 10000)
INSERT [dbo].[LIBRO] ([ID], [NOMBRE], [DESCRIPCION], [FECHA], [AUTOR], [EDITORIAL], [ID_EMOCION], [URI_RELATIVO], [PRECIO]) VALUES (2, N'Kryptonita', N'29 de junio de 2009. Lunes por la madrugada. En la guardia del Hospital Paroissiens de Isidro Casanova ingresa herido de muerte Nafta Súper, líder de una banda criminal de la zona. Sus compañeros les exigen a los médicos que le salven la vida, mientras se atrincheran esperando la llegada de la policía.', CAST(N'2014-01-01T00:00:00.000' AS DateTime), N'Leonardo Oyola', N'Literatura Random House', 3, N'Imagenes/Libros/Kryptonita.jpg', 12000)
INSERT [dbo].[LIBRO] ([ID], [NOMBRE], [DESCRIPCION], [FECHA], [AUTOR], [EDITORIAL], [ID_EMOCION], [URI_RELATIVO], [PRECIO]) VALUES (3, N'Mujeres que corren con los lobos', N'La mujer salvaje una especie en peligro de extincion, que representa la escencia femenina instintiva.', CAST(N'2019-01-01T00:00:00.000' AS DateTime), N'Clarissa Pinkola Estés', N'Penguin Random House', 10, N'Imagenes/Libros/MujeresQueCorrenConLosLobos.jpg', 15000)
SET IDENTITY_INSERT [dbo].[LIBRO] OFF
GO
SET IDENTITY_INSERT [dbo].[PELICULA] ON 

INSERT [dbo].[PELICULA] ([ID], [NOMBRE], [DESCRIPCION], [FECHA], [GENERO], [DIRECTOR], [ID_EMOCION], [URI_RELATIVO], [PRECIO]) VALUES (1, N'The Matrix', N'Un programador de computadoras descubre que el mundo en el que vive es una simulación creada por inteligencias artificiales y se une a la rebelión para liberarla.', CAST(N'1999-01-01T00:00:00.000' AS DateTime), N'Ciencia Ficción', N'Hermanas Wachoski', 4, N'Imagenes/Peliculas/TheMatrix.jpg', 5000)
INSERT [dbo].[PELICULA] ([ID], [NOMBRE], [DESCRIPCION], [FECHA], [GENERO], [DIRECTOR], [ID_EMOCION], [URI_RELATIVO], [PRECIO]) VALUES (2, N'Titanic', N'Dos jóvenes que se conocen y se enamoran a bordo del transatlántico RMS Titanic en su viaje inaugural', CAST(N'1997-01-01T00:00:00.000' AS DateTime), N'Romance', N'James Cameron', 10, N'Imagenes/Peliculas/Titanic.jpg', 7000)
INSERT [dbo].[PELICULA] ([ID], [NOMBRE], [DESCRIPCION], [FECHA], [GENERO], [DIRECTOR], [ID_EMOCION], [URI_RELATIVO], [PRECIO]) VALUES (3, N'En busca de la felicidad', N'La vida es una lucha para Chris Gardner. Expulsado de su apartamento, él y su joven hijo se encuentran solos sin ningún lugar a donde ir. A pesar de que Chris ocasionalmente consigue trabajo como interno en una prestigiada firma financiera, la posición no le da dinero.', CAST(N'2006-01-01T00:00:00.000' AS DateTime), N'Drama', N'Gabriele Muccino', 7, N'Imagenes/Peliculas/EnBuscaDeLaFelicidad.jpg', 6000)
SET IDENTITY_INSERT [dbo].[PELICULA] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

INSERT [dbo].[USUARIO] ([ID], [USERNAME], [EMAIL], [PASSWORD]) VALUES (1, N'admin', N'admin@admin.com', N'8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918')
INSERT [dbo].[USUARIO] ([ID], [USERNAME], [EMAIL], [PASSWORD]) VALUES (3, N'webmaster', N'webmaster@webmaster.com', N'8294547e9fe9367f291a22598513d897928d1a0eeb713ca2b41f31977192c5d1')
INSERT [dbo].[USUARIO] ([ID], [USERNAME], [EMAIL], [PASSWORD]) VALUES (5, N'daniel', N'dan@dan.com', N'ec4f2dbb3b140095550c9afbbb69b5d6fd9e814b9da82fad0b34e9fcbe56f1cb')
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
GO
ALTER TABLE [dbo].[BITACORA]  WITH CHECK ADD  CONSTRAINT [FK_BITACORA_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID])
GO
ALTER TABLE [dbo].[BITACORA] CHECK CONSTRAINT [FK_BITACORA_USUARIO]
GO
ALTER TABLE [dbo].[LIBRO]  WITH CHECK ADD  CONSTRAINT [FK_LIBRO_EMOCION] FOREIGN KEY([ID_EMOCION])
REFERENCES [dbo].[EMOCION] ([ID])
GO
ALTER TABLE [dbo].[LIBRO] CHECK CONSTRAINT [FK_LIBRO_EMOCION]
GO
ALTER TABLE [dbo].[PELICULA]  WITH CHECK ADD  CONSTRAINT [FK_PELICULA_EMOCION] FOREIGN KEY([ID_EMOCION])
REFERENCES [dbo].[EMOCION] ([ID])
GO
ALTER TABLE [dbo].[PELICULA] CHECK CONSTRAINT [FK_PELICULA_EMOCION]
GO
/****** Object:  StoredProcedure [dbo].[FILTRAR_BITACORA_FECHAS]    Script Date: 7/7/2024 6:08:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FILTRAR_BITACORA_FECHAS]
    @FechaInicio DATETIME,
    @FechaFin DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    SELECT * 
    FROM Bitacora
    WHERE Fecha BETWEEN @FechaInicio AND @FechaFin;
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_BITACORA]    Script Date: 7/7/2024 6:08:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[INSERTAR_BITACORA] 
	@fecha datetime,
	@id_usuario int,
	@modulo varchar(50),
	@operacion varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.


    -- Insert statements for procedure here
	insert into BITACORA (FECHA, ID_USUARIO, MODULO, OPERACION) values (@fecha,@id_usuario,@modulo,@operacion);
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_DVH]    Script Date: 7/7/2024 6:08:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_DVH]
    @tabla VARCHAR(50),
    @reg INT,
    @dv VARCHAR(200)
AS
BEGIN


    INSERT INTO DVH (TABLA, REGISTRO, DV)
    VALUES (@tabla, @reg, @dv);


END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_BITACORA]    Script Date: 7/7/2024 6:08:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_BITACORA] 

AS
BEGIN

	Select * from BITACORA;
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_DVH]    Script Date: 7/7/2024 6:08:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[LISTAR_DVH]
as
begin
Select * from DVH;
end
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_EMOCION]    Script Date: 7/7/2024 6:08:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_EMOCION]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	

    -- Insert statements for procedure here
	SELECT * FROM EMOCION;
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_EMOCION_POR_ID]    Script Date: 7/7/2024 6:08:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_EMOCION_POR_ID]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        ID,
        NOMBRE,
        URI_RELATIVO
    FROM 
        EMOCION
    WHERE 
        ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_LIBRO]    Script Date: 7/7/2024 6:08:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[LISTAR_LIBRO]
as
begin 
Select * from LIBRO;
end
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_PELICULA]    Script Date: 7/7/2024 6:08:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[LISTAR_PELICULA]
as
begin

Select * from PELICULA;
end
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_USUARIO]    Script Date: 7/7/2024 6:08:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_USUARIO]
	-- Add the parameters for the stored procedure here
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.

    -- Insert statements for procedure here
	SELECT * from USUARIO;
END
GO
/****** Object:  StoredProcedure [dbo].[MODIFICAR_DVH]    Script Date: 7/7/2024 6:08:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MODIFICAR_DVH]
    @tabla VARCHAR(50),
    @reg INT,
    @dv VARCHAR(200)
AS
BEGIN


    UPDATE DVH
    SET DV = @dv
    WHERE TABLA = @tabla AND REGISTRO = @reg;

END
GO
USE [master]
GO
